
.sc-container {text-align:left;}
.sc-icons {display: inline-block; margin-top:-10px; margin-bottom:-10px;}
.sc-icons img {vertical-align:middle;}
.sc-icons a {display: inline-block; margin:10px 10px; height: 40px;}